<a href="https://colab.research.google.com/github/Manoj-346/Death-Note/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
ser = pd.Series()
print(ser)
data = np.array(['g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
print(ser)
print(ser[3])

Series([], dtype: float64)
0    g
1    e
2    e
3    k
4    s
dtype: object
k

<ipython-input-10-a7c056d858a5>:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [ ]:
import pandas as pd
import numpy as np
# Creating empty series
#ser = pd.Series()
#print(ser)
# simple array
data = np.array(["hello","every","one"])
ser = pd.Series(data)
print(ser)
print(ser[1][3])

0    hello
1    every
2      one
dtype: object
r

In [ ]:
import pandas as pd
import numpy as np
l=[10,20,30]
ser = pd.Series(l,index=[1,2,3])
print(ser)
print(ser[1])

1    10
2    20
3    30
dtype: int64
10

In [ ]:
import pandas as pd
import numpy as np
d={"name":"suresh","rno":534,"perc":89.0}
ser = pd.Series(d)
print(ser)
print(ser["rno"])

name    suresh
rno        534
perc      89.0
dtype: object
534

In [ ]:
import pandas as pd
import numpy as np
d=[("name","suresh"),("rno",534),("perc",89.0)]
ser = pd.Series(d)
print(ser)
print(ser[1][1])

0    (name, suresh)
1        (rno, 534)
2      (perc, 89.0)
dtype: object
534

In [ ]:
import pandas as pd
# assign values to lists.
data = {'name':['xyz','abc','lmn'],'rolln':[512,534,546],'perc':[78.5,79.8,88.0]}
# Creates DataFrame.
df = pd.DataFrame(data)
# Print the data
print(df)

  name  rolln  perc
0  xyz    512  78.5
1  abc    534  79.8
2  lmn    546  88.0

In [ ]:
import pandas as pd
# assign values to lists.
data = [{'A': 10, 'B': 20, 'C':30}, {'x':100, 'y': 200, 'z': 300}]
# Creates DataFrame.
df = pd.DataFrame(data)
# Print the data
print(df)

      A     B     C      x      y      z
0  10.0  20.0  30.0    NaN    NaN    NaN
1   NaN   NaN   NaN  100.0  200.0  300.0

In [ ]:
#Load Data From excel file.
import pandas as pd
# Creates DataFrame.
df = pd.read_excel("E:\\Academics\\Python\\file1.xlsx”)
# Print the data
print(df)

SyntaxError: unterminated string literal (detected at line 4) (<ipython-input-9-66a9fbbe3bfa>, line 4)

In [ ]:
import pandas
mydataset = {
  'section': ["section1", "section2", "section3"],
  'strength': [60, 67, 62]
}

v = pandas.DataFrame(mydataset)
print(v)

    section  strength
0  section1        60
1  section2        67
2  section3        62

In [ ]:
import pandas as pd

a = [6, 5, 7]

var = pd.Series(a)

print(var)

0    6
1    5
2    7
dtype: int64

In [ ]:
import pandas as pd

a = [6, 5, 7]

var = pd.Series(a, index = ["x", "y", "z"])

print(var)

x    6
y    5
z    7
dtype: int64

In [ ]:
import pandas as pd
calories = {"sub1": 70, "sub2": 80, "sub3": 90}
var = pd.Series(calories)
print(var)

sub1    70
sub2    80
sub3    90
dtype: int64

In [ ]:
import pandas as pd

a = [6, 5, 7]
b=  ["x", "y", "z"]

var1 = pd.Series(a, index =b)
print(var1)

var2 = pd.Series(a, index =b)
print(var2["y"])

x    6
y    5
z    7
dtype: int64
5

In [ ]:
import pandas
mydataset = {
  "section": ["section1", "section2", "section3"],
  "strength": [60, 67, 62]
}
v = pandas.DataFrame(mydataset)
print(v)
#refer to the row index:
print(v.loc[1])
#use v.loc[[0,1]] to print two rows

    section  strength
0  section1        60
1  section2        67
2  section3        62
section     section2
strength          67
Name: 1, dtype: object